.u-section-2 .u-sheet-1 {
  min-height: 434px;
}
.u-section-2 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}
.u-section-2 .u-layout-cell-1 {
  min-height: 255px;
}
.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  font-size: 2.25rem;
}
.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  letter-spacing: normal;
  font-size: 1.5rem;
}
.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.u-section-2 .u-layout-cell-2 {
  min-height: 255px;
}
.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}
.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
}
.u-section-2 .u-btn-1 {
  margin-left: 0;
  margin-right: auto;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
}
@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .u-section-2 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }
  .u-section-2 .u-text-2 {
    position: relative;
    letter-spacing: 10px;
    font-size: 1.125rem;
  }
  .u-section-2 .u-text-3 {
    position: relative;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }
  .u-section-2 .u-text-4 {
    margin-right: 16px;
    position: relative;
  }
  .u-section-2 .u-btn-1 {
    position: relative;
  }
}
@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
  .u-section-2 .u-text-4 {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
  }
  .u-section-2 .u-text-4 {
    margin-right: 5px;
  }
}
@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }
  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }
  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }
  .u-section-2 .u-text-4 {
    margin-right: 6px;
  }
}